beancount-reds-plugins>=0.3.0
beancount-periodic>=0.1.2
smart-importer>=0.4
fava-investor>=0.5.0
https://codeload.github.com/beancount/beanprice/zip/refs/heads/master
iexfinance>=0.5.0
pricehist>=1.4.6
tariochbctools>=0.32.0
fava-dashboards @ git+https://github.com/andreasgerstmayr/fava-dashboards.git@main
